* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* #signup {
  text-align: center;
  font-family: "montserrat";
  text-align: center;
  margin-top: 70px;
  margin-left: 450px;
  margin-right: 600px;
  padding-bottom: 30px;
  border-radius: 30px;
  color: white;
  font-size: 1.5em;
}

fontface {
  font-family: "montserrat";
  src: url("https://fonts.googleapis.com/css?family=Bungee+Inline");
}

.user_input {
  width: 100%;
  height: 30px;
  border: 0;
  padding-left: 2px;
  font-size: 1em;
  padding-bottom: 20px;
  border-radius: 30px;
}


.email_input {
  width: 20%;
  height: 30px;
  border: 0;
  padding-left: 2px;
  font-size: 1em;
  padding-bottom: 20px;
  border-radius: 30px;
}

.password_input {
  width: 20%;
  height: 30px;
  border: 0;
  padding-left: 2px;
  font-size: 1em;
  padding-bottom: 20px;
  border-radius: 30px;
}

h1 {
  font-size: 3em;
  font-family: "montserrat";
} */

.sign-up {
  transform: translatey(25%);
}

.sign-up form h1.header {
  text-align: center;
  padding: 10px;
  width: 700px;
  margin: 20px auto;
  border-radius: 25px;
  transform: translatey(20px);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(71, 71, 71, 0.712);
  height: 70px;
  font-weight: 850;
  color: white;
}
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.733);
}

.sign-up input {
  width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 800;
  padding: 25px;
  margin: 0px auto;
  text-align: center;
  border: 1px solid #222;
  outline: none;
  border: none;
  border-radius: 25px;
  height: 55px;
}

.sign-up input:focus {
  box-shadow: 1px -1px 5px rgb(5, 224, 5);
  border: 2px solid rgb(5, 224, 5);
}

.sign-up button,
.signup_button {
  background: rgb(0, 162, 255);
  color: rgb(255, 255, 255);
  border-radius: 44px;
  cursor: pointer;
  width: 20%;
  padding: 5 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat";
  font-size: 1.5em;
  margin: 8px auto;
  font-weight: 700;
  width: 270px;
  height: 50px;
  color: white;
  transform: translatey(10px);
}

.sign-up .PTN a {
  text-decoration: none;
  color: white;
}

.sign-up .PTN:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: all 0.5s linear;
}

.signup_button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: all 0.5s linear;
}

.sign-up .PTN:hover a {
  color: black;
  transition: all 0.5s linear;
}
