body {
  background-image: url("https://cdn.hipwallpaper.com/i/46/78/ugWdyh.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30%;
  font-family: "montserrat";
  top: 40%;
  left: 40%;
}

.input1 {
  margin-top: 50px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 260px;
  height: 30px;
  border: 0;
  padding-left: 20px;
  outline: none;
  text-align: center;
}
input[type="date"]:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 1.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}
#info {
  font-size: 16px;
  font-family: "montserrat";
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

#info,
td,
th {
  /* border: 2px solid #000000; */
  padding: 8px;
  margin-top: 70px;
  border-collapse: collapse;
}
tr {
  background-color: whitesmoke;
  border-radius: 30px;
}
th {
  background-color: lightblue;
}
.check_button {
  margin-top: 0px;
  margin-bottom: 20px;
  background: rgba(131, 158, 216, 0.924);
  color: #fff;
  border-radius: 44px;
  cursor: pointer;
  transition: 0.8s;
  width: 20%;
  padding: 5 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat";
  font-size: 1.5em;
}
.check_button:hover {
  background-color: #f2e6ff;
  color: rgb(63, 155, 172);
}
.main {
  text-align: center;
  font-family: "montserrat";
  text-align: center;
  margin-top: 70px;
  margin-left: 46px;
  margin-right: 5px;
  padding-bottom: 33px;
  border-radius: 33px;
  color: white;
}
tr:hover {
  background-color: lightblue;
  border-radius: 20px;
}
/*

.item-list {
  border: 1.5px solid white;
  list-style-type: none;
  margin-top: none;
  border-radius: 7px;
  margin-left: 300px;
  margin-right: 300px;
}


.container {
  color: black;
  position: relative;
  background: #cccccc;
  max-width: 600px;
  margin: 0 auto 20px;
  padding: 44px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  color: #744545;
  width: auto;
}

.Carrier {
  position: relative;
  float: left;
  margin-top: -28px;
  margin-left: -28px;
  font-size: 1.2em;
  border-bottom: 1px solid #660000;
  margin-bottom: 0;
}
#price {
  font-size: 30px;
  float: right;
  margin-top: -20px;
  color: #660000;
}

#info {
  color: #660000;
}
.pricem {
  align-items: center;
  margin-top: 20px;
  font-size: 30px;
  margin-left: 15px;
  color: #660000;
}

.L {
  color: rgb(81, 73, 126);
  font-size: 30px;
  line-height: 80px;
  padding: 0 px;
  font-weight: bold;
  margin-right: px;
}

.from.input1 {
  padding-bottom: 2px;
  margin-left: 2px;
}
.depart.input1 {
  padding-bottom: 2px;
}

.to.input1 {
  padding-bottom: 2px;
  margin-right: 3px;
}

.return.input1 {
  padding-bottom: 2px;
  margin-left: 100px;
}

.M {
  color: rgb(81, 73, 126);
  font-size: 30px;
  line-height: 80px;
  padding: 0 px;
  font-weight: bold;
  margin-left: px;
}

.AppA {
  border-radius: 20px;
  font-size: 1.1em;
  outline: none;
  color: rgb(111, 149, 155);
  font-weight: bold;
  margin-left: 10%;
} */
