body {
  background-image: url("https://cdn.hipwallpaper.com/i/46/78/ugWdyh.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30%;
  font-family: "montserrat";
  top: 40%;
  left: 40%;
}

.main input {
  width: 500px;
  background-color: rgba(228, 228, 228, 0.932);
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 800;
  padding: 25px;
  margin: 10px 20px;
  text-align: center;
  height: 55px;
  border: none;
  outline: none;
}

#info {
  font-size: 16px;
  font-family: "montserrat";
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

#info,
td,
th {
  border: 1px solid #4b4b4b5e;
  padding: 10px;
  margin: 10px -20px;
  border-collapse: collapse;
  background-color: rgba(228, 228, 228, 0.932);
  color: black;
  font-weight: 800;
}

.main button {
  background: rgb(0, 162, 255);
  color: rgb(255, 255, 255);
  border-radius: 44px;
  cursor: pointer;
  width: 20%;
  padding: 10px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat";
  font-size: 1.5em;
  margin: 8px auto;
  font-weight: 700;
  width: 270px;
  height: 60px;
  color: white;
  transform: translatey(10px);
}

.check_button {
  transform: translate(24px, 50px);
  background: rgb(0, 162, 255);
  color: rgb(255, 255, 255);
  border-radius: 44px;
  cursor: pointer;
  padding: 10px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat";
  font-size: 1.5em;
  margin: 8px auto;
  font-weight: 700;
  width: 270px;
  height: 60px;
  color: white;
}

.check_button:hover {
  background-color: rgba(228, 228, 228, 0.932);
  color: rgb(0, 0, 0);
}

.main {
  text-align: center;
  font-family: "montserrat";
  text-align: center;
  margin-top: 70px;
  margin-left: 46px;
  margin-right: 5px;
  padding-bottom: 33px;
  border-radius: 33px;
  color: white;
}

.item-list {
  list-style: none;
  border-radius: 7px;
  margin: auto;
  color: black;
  font-size: 17px;
  font-weight: 800;
  border: 1px solid rgba(34, 34, 34, 0.384);
  background-color: rgba(221, 221, 221, 0.932);
  width: 500px;
}

/*
.container {
  color: black;
  position: relative;
  background: #cccccc;
  max-width: 600px;
  margin: 0 auto 20px;
  padding: 44px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  color: #744545;
  width: auto;
}

.Carrier {
  position: relative;
  float: left;
  margin-top: -28px;
  margin-left: -28px;
  font-size: 1.2em;
  border-bottom: 1px solid #660000;
  margin-bottom: 0;
}
#price {
  font-size: 30px;
  float: right;
  margin-top: -20px;
  color: #660000;
}

#info {
  color: #660000;
}
.pricem {
  align-items: center;
  margin-top: 20px;
  font-size: 30px;
  margin-left: 15px;
  color: #660000;
}

.L {
  color: rgb(81, 73, 126);
  font-size: 30px;
  line-height: 80px;
  padding: 0 px;
  font-weight: bold;
  margin-right: px;
}

.from.input1 {
  padding-bottom: 2px;
  margin-left: 2px;
}
.depart.input1 {
  padding-bottom: 2px;
}

.to.input1 {
  padding-bottom: 2px;
  margin-right: 3px;
}

.return.input1 {
  padding-bottom: 2px;
  margin-left: 100px;
}

.M {
  color: rgb(81, 73, 126);
  font-size: 30px;
  line-height: 80px;
  padding: 0 px;
  font-weight: bold;
  margin-left: px;
}

.AppA {
  border-radius: 20px;
  font-size: 1.1em;
  outline: none;
  color: rgb(111, 149, 155);
  font-weight: bold;
  margin-left: 10%;
} */
