/* body {
    background-image: url("https://usatsneakhype.files.wordpress.com/2016/02/news_pict_20150602180550000000.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60%;
    font-family: "Numans", sans-serif;
    top: 40%;
    left: 40%;
  } */
  
  .login{
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    margin-top: 20px;
    /* background-color: rgba(39, 47, 97, 0.65); */
    margin-left:500px;
    margin-right: 500px;
    padding-bottom: 2px;
    border-radius: 100px;
    color:white
  }
  
  .input{
    outline: none;
    border-radius:50px;
    margin-left:20px;
    margin-bottom: 20px;
    width:200px;
    height: 35px;
    border:0;
    padding-left: 30px;
  }
  
  label{
    font-size: 1.4em;
    
  }
  
  .button_signin{
    margin-top: 0px;
    margin-bottom: 20px;
    background: rgba(131, 158, 216, 0.924);
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
  
    width: 50%;
    padding: 5 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
   font-family: Georgia, serif;
   font-size: 1.5em;  
   }
  
  .button_signin:hover{
    background-color:#f2e6ff;
    color: rgb(63, 155, 172);
  }
  
  .header{
    margin-top: 100px;
    font-family: Georgia, serif;
    color: #fff;
    font-size: 60px;
  }

  .email_lab{
    margin-top: 10px;
    font-family: Georgia, serif;
    color: rgb(7, 50, 63);  
    font-size: 35px;
  
  }

  .Password_lab{
    margin-top: 10px;
    font-family: Georgia, serif;
    color: rgb(7, 50, 63); 
    font-size: 35px;
    
  }

  .password_input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat",sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .email_input{

    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat",sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
  }