* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* 
div {
    width: 100px;
    padding: 20px;
    text-align: center;
    background: url(./landing.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

} */

/* .P1{
    margin-top: 0px;
    margin-bottom: 20px;
    background: #000203;
    color: rgb(0, 0, 0);
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
    font-size: 1.5em;

    width: 15%;
    padding: 5 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
  font-family: "montserrat";
  } */

/* p{
    margin-top: 50px;
  font-family: "montserrat";
    color: rgb(0, 0, 0);
    font-size: 20px;
  } */

.landing-page {
  transform: translateY(5%);
}

.landing-page h1 {
  text-align: center;
  padding: 10px;
  width: 700px;
  margin: 20px auto;
  border-radius: 25px;
  border: 2px solid rgb(255, 255, 255);
  transform: translatey(170px);
  background-color: rgba(71, 71, 71, 0.712);
  height: 70px;
  font-weight: 850;
  color: white;
}

.landing-page .PTN {
  background: rgb(0, 162, 255);
  color: rgb(255, 255, 255);
  border-radius: 44px;
  cursor: pointer;
  width: 20%;
  padding: 5 16px;
  height: 44px;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat";
  font-size: 1.5em;
  margin: 10px auto;
  transform: translateY(180px);
  font-weight: 700;
  width: 270px;
  height: 60px;
  color: white;
}

.landing-page .PTN a {
  text-decoration: none;
  color: white;
}

.landing-page .PTN:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transition: all 0.5s linear;
}

.landing-page .PTN:hover a {
  color: black;
  transition: all 0.5s linear;
}
