/* 
div {
    width: 100px;
    padding: 20px;
    text-align: center;
    background: url(./landing.jpg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

} */
h1{
    margin-top: 100px;
    font-family: cursive;
    color: #fff;
    font-size: 40px;
  }

  

  /* .P1{
    margin-top: 0px;
    margin-bottom: 20px;
    background: #000203;
    color: rgb(0, 0, 0);
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
    font-size: 1.5em;

    width: 15%;
    padding: 5 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat",sans-serif; 
  } */
    .PTN:hover{
    transform: scale(0.96);
    background-color: rgb(255, 255, 255);
  }

  /* p{
    margin-top: 50px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(0, 0, 0);
    font-size: 20px;
  } */
   .PTN {
    margin-top: 10px;
    font-family: Georgia, serif;
    
    font-size: 35px;
    width: 15%;
    padding: 5 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    margin-top: 0px;
    margin-bottom: 20px;
   background: rgba(131, 158, 216, 0.924);
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
   color: rgb(0, 0, 0);
   font-size: 1.5em;
  
  
  
  
  
  
  }
  